InterstellarTransportSystem/src/main/resources/sample/GalaxyMap.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="galaxy">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="route" maxOccurs="unbounded" minOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="sourcePlanet">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="id" use="required"/>
                      <xs:attribute type="xs:string" name="name" use="required"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="destinationPlanet">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="id" use="required"/>
                      <xs:attribute type="xs:string" name="name" use="required"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="id" use="required"/>
            <xs:attribute type="xs:float" name="weitage" use="required"/>
            <xs:attribute name="type" use="required">
            	<xs:simpleType>
				    <xs:restriction base="xs:string">
				      <xs:enumeration value="distance"/>
				      <xs:enumeration value="traffic"/>
				    </xs:restriction>
  				</xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>