InterstellarTransportSystem/src/main/resources/sample/GalaxyMap.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
targetNamespace="urn:Galaxy.Namespace" xmlns="urn:Galaxy.Namespace"
 xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="planet">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="id" use="required"/>
          <xs:attribute type="xs:string" name="name" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="source">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="planet" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="destination">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="planet" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="route">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="source" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="destination" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute type="xs:byte" name="id" use="required"/>
      <xs:attribute type="xs:float" name="weitage" use="required"/>
      <xs:attribute type="xs:string" name="type" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="galaxy">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="route" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
 </xs:schema>